{% extends "./base.html" %}
{% block content %}
<div class="container" style="width: 500px;margin-top: 20px">
    <form action="/mybank/login_bank/" method="post" class="form-login">
            {% csrf_token %}
            <h1 class="text-center">支行验证</h1>
            <br>
            <div class="input-group">
                <span class="input-group-addon">支行名称:</span>
                <input type="text" class="form-control" name="name">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">密码:</span>
                <input type="password" class="form-control" name="password">
            </div>
            <br>
            <br>
            <input type="submit" value="提交" class="btn btn-primary" style="margin-left: 180px;">
        </form>
</div>
{% endblock %}